/*
 * Global Utilities
 *
 * Only truly global utilities belong here.
 * Component-specific styles should live in their respective components.
 */

/* Layout */
@utility container {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
 * Image Color Filters
 *
 * TODO: Move to components when usage is clear.
 * For tinting monochrome icons/images.
 */
@utility filter-orange {
  filter: brightness(0) saturate(100%) invert(91%) sepia(63%) saturate(307%)
    hue-rotate(302deg) brightness(103%) contrast(99%);
}

@utility filter-sky {
  filter: brightness(0) saturate(100%) invert(93%) sepia(4%) saturate(3187%)
    hue-rotate(180deg) brightness(101%) contrast(99%);
}

/*
 * Decorative Elements
 *
 * TODO: Move to component when usage is clear.
 */
@utility brush-highlight {
  position: absolute;
  left: -0.25rem;
  z-index: -1;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  padding: 0.375rem 0.25rem;
  background-image: url("/images/brush-1.svg");
}
