---
import IconLocation from "@/assets/icons/location.svg";

interface Props {
	location: string;
}

const { location } = Astro.props;
---

<div
	class="flex items-center gap-2.5 text-sm font-extralight"
	role="group"
	aria-label={`Location: ${location}`}
>
	<IconLocation class="size-4" aria-hidden="true" />
	<span>{location}</span>
</div>
