---
import type { HTMLAttributes } from "astro/types";
import IconChevronDown from "@/assets/icons/chevron-down.svg";

interface Props extends HTMLAttributes<"button"> {
	expandedText?: string;
	collapsedText?: string;
}

const {
	expandedText = "View Less",
	collapsedText = "View More",
	class: className,
	...attrs
} = Astro.props;
---

<button
	type="button"
	class:list={[
		"view-more-btn text-subtitle hover:text-title mx-auto flex cursor-pointer flex-col items-center gap-1 border-none bg-transparent px-4 py-2 text-sm transition-colors",
		className,
	]}
	data-expanded-text={expandedText}
	data-collapsed-text={collapsedText}
	{...attrs}
>
	<span data-view-more-text>{collapsedText}</span>
	<IconChevronDown class="view-more-btn-icon size-4 transition-transform" />
</button>

<style>
	.view-more-btn.expanded .view-more-btn-icon {
		transform: rotate(180deg);
	}
</style>
