---
import CustomStyles from "~/components/CustomStyles.astro";
import type { PageHeader } from "../common/types";
import Head from "../components/Head.astro";
import type { SupportedLanguage } from "../i18n/types";

interface Props {
	lang: SupportedLanguage;
	header: PageHeader;
}

const { lang, header } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<Head lang={lang} {...header}>
		<CustomStyles />
	</Head>
	<body class="bg-background">
		<slot />
	</body>
</html>
<style is:global>
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
